div{
	background: blue;
	width: 100px;
	height: 100px;
}
/* 
	1.内联样式（行间）
		优点：优先级高，不容易出错
		缺点：不宜修改
	2.内部引入样式
		优点：加载速度快，不需要服务器请求。
		缺点：不易维护，不易重用
	3.外部引入样式
		优点：易于重用
		缺点：需要服务器请求

	优先级：内联样式>内部引入样式＝外部引入样式
 */